//Project Colors
$white: #fff;
$snow-white: #f3f3f3;
$black: #000;
$green: #009879;
$blue: #12b4f2;
$dark-blue: #035685;
$gray: #898989;
$light-gray: #ebe8e8;
$snow-gray: #ddd;

// Break-points

$small-mobile: 320px;
$mobile: 480px;
$small-tablet: 600px;
$tablet: 768px;
$notebook: 1024px;
$desktop: 1366px;
$large-desktop: 1920px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color:$light-gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    min-height: 72vh;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
  }

.button-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 75px;

    .register {
        font-weight: 700;
        outline: none;
        background-color: $blue;
        border: 2px solid $blue;
        border-radius: 0.6em;
        cursor: pointer;
        align-self: center;
        font-size: 0.8rem;
        padding: 12px 1.2em;
        text-align: center;
        text-transform: uppercase;
        border-color: $blue;
        color:$white;
        box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
      }
}

.loading {
    display: flex;
    justify-content: center;    
  }
  
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    min-height: 10vh;
    background:$dark-blue;
    
    img {
        width: 90px;
        height: 90px;
    }
}

.modal-content {
    display: flex;
    width: 50vw;
    justify-content: center;
    max-width: 800px;

    .modal-overlay {
        width: 100%;
        padding-top: 35px;
    }

    form {
        width: 100%;
        padding: 10px 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.7rem;
        
    }

    input[type='text'] {
        width: 100%;
        display: block;
        padding: 10px;
        font-size: 1.2rem;
        display: inline;
        border-radius: 5px;
        margin: 0 0 2px;
        border: solid 1px $gray;

        @media (min-width: $notebook) {
            margin: 0 0 15px;
        }

        &:focus-visible {
            outline: none;
            box-shadow: 0 0 2px 1px $gray;
        }
    }

    .name {
        grid-column: 1/5;

    }
    .email {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 1/3;
        }
    }

    .cpf {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 3/4;
        }
    }

    .phone {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 4/5;
        }
    }

    .zipcode {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 1/2;
        }
    }

    .street {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 2/5;
        }
    }

    .number {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 1/2;
        }
    }

    .neighborhood {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 2/4;
        }
    }

    .city {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 4/5;
        }
    }

    .state {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 1/2;
        }
    }

    .country {
        grid-column: 1/5;
        @media (min-width: $notebook) {
            grid-column: 2/3;
        }
    }

    .save-button {
        box-sizing: border-box;
        outline: none;
        margin: 0 0 15px;
        background-color: $blue;
        border: 2px solid $blue;
        border-radius: 0.6em;
        cursor: pointer;
        align-self: center;
        font-size: 0.8rem;
        padding: 12px 1.2em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border-color: $blue;
        color: $white;
        box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
        grid-column: 2/4;

        @media (min-width: $notebook) {
            grid-column: 4;
        }
    }
    .close-btn {
        top: 13px;
        right: 15px;
        border: none;
        cursor: pointer;
        position: absolute;
        background: transparent;
    }
}

.table {
    display: flex;
    margin: 25px 0 200px;
    justify-content: center;

    .d-none-m {
        display: none ;
        @media (min-width: $tablet) {
            display: table-cell;
          }
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 200px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
        &.absolute {
            position: absolute;
            z-index: 50;
        }
    
        thead tr {
            background-color: $blue;
            color: $white;
            text-align: left;
            font-weight: bold;
        }

        th, td {
            text-align: center;
            padding: 12px 15px;

            span {
                color: transparent;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid $snow-gray;
            }
    
            tr:nth-of-type(even) {
                background-color: $snow-white;
            }
    
            tr:last-of-type {
                border-bottom: 2px solid $blue;
            }

            tr.active-row {
                font-weight: bold;
                color: $green;
            }
        }
    }
    .icons svg{
        cursor: pointer;
    }
}

.details {
    &.modal-content {
        padding: 0 15px 20px;
        max-width: 400px;
    }
    .modal-overlay {
        padding-top: 15px;

        label {
            font-size: 0.7rem;
        }

        .detail-input {
            font-size: 1rem;
            border-radius: initial;
            border: none;
            padding: 3px 10px 5px 10px;
            border-bottom: solid 1px $gray;
            margin: 0;
        }
    }
}

footer {
    min-height: 10vh;
    position: relative;

    svg {
        position: absolute;
        bottom: 0;
    }
}